**/bcda/tmp/*
**/bcdaworker/archive/*
**/bcdaworker/data/*
**/bcdaworker/tmp/*
**/bcdaworker/tmpdata
**/bcdaworker/tmpdata/*
**/bcdaworker/TEMP
**/bcdaworker/TEMP/*
**/.git
**/data
**/test_results
!./bcdaworker/data/test/test.ndjson
**/bcda/pending_delete_dir/*

**/.DS_Store