**/bcda/tmp/*
**/bcdaworker/archive/*
**/bcdaworker/data/*
**/bcdaworker/tmp/*
**/bcdaworker/tmpdata/*
**/.git
**/data
**/test_results
!./bcdaworker/data/test/test.ndjson
**/bcda/pending_delete_dir/*
