*tmp
**/.DS_Store
bcda/bcda
bcda/debug
bcdaworker/bcdaworker
bcdaworker/debug
test_results/*
.idea
bcda/swaggerui/swagger.json
bcdaworker/data/*
bcdaworker/archive/*
bcda-site-static/_site/*
bcda-site-static/.sass-cache
bcda-site-static/.jekyll-metadata
bcdaworker/tmpdata/*
