*tmp
**/.DS_Store
bcda/bcda
bcda/debug
bcdaworker/bcdaworker
bcdaworker/debug
test_results/*
.idea
bcda/swaggerui/swagger.json
bcdaworker/data/*
bcdaworker/archive/*
bcdaworker/tmpdata/*
.env.sh
decryption_utils/C#/bin
decryption_utils/C#/obj
bcda/pending_delete_dir/*
