*tmp
**/.DS_Store
bcda/bcda
bcda/debug
bcdaworker/bcdaworker
bcdaworker/debug
test_results/*
.idea
bcda/swaggerui/swagger.json
bcda/swaggerui/openapi.json
bcdaworker/data/*
bcdaworker/archive/*
bcdaworker/tmpdata/*
.env.sh
bcda/pending_delete_dir/*
.vault_password
shared_files/decrypted/*
!shared_files/decrypted/README.md