---
services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=bcda
      - POSTGRES_PASSWORD=toor
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/db
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "bcda"]
      interval: 1m30s
      timeout: 15s
      retries: 5
      start_period: 2s
  localstack:
    image: localstack/localstack:latest
    environment:
      - AWS_DEFAULT_REGION=us-east-1
      - GATEWAY_LISTEN=0.0.0.0:4566
      - SERVICES=s3,ssm,sts,iam,cloudwatch
      - DEBUG=1
    ports:
      - "4566-4583:4566-4583"
    volumes:
      - "./.localstack_volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./scripts/localstack_init.sh:/etc/localstack/init/ready.d/init-aws.sh"
      - "./shared_files/decrypted:/etc/config"
    healthcheck:
      test: 'curl --silent --fail localstack:4566/_localstack/init/ready | grep -E "\"completed\": true"'
      interval: 1m30s
      retries: 5
      start_period: 30s
      timeout: 10s
  api:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.bcda
      args:
        ENVIRONMENT: development
    env_file:
      - ./shared_files/decrypted/local.env
    environment:
      # localstack
      AWS_ACCESS_KEY_ID: foobar
      AWS_SECRET_ACCESS_KEY: foobar
      AWS_ENDPOINT_URL: http://localstack:4566
      CONFIG_BUCKET: bcda-local-config
      # config files
      BCDA_API_CONFIG_PATH: /etc/sv/api/env/api.yml
      BB_CLIENT_CERT_FILE: /etc/sv/api/env/bfd-dev-test-cert.pem
      BB_CLIENT_KEY_FILE: /etc/sv/api/env/bfd-dev-test-key.pem
      # mounted fhir volume
      FHIR_ARCHIVE_DIR: /var/efs/archive
      FHIR_PAYLOAD_DIR: /var/efs/data
      FHIR_STAGING_DIR: /var/efs/tmpdata
      LOG_TO_STD_OUT: true
    volumes:
      - fhir:/var/efs
      - api_config:/etc/sv/api/env
    ports:
      - "3000:3000"
      - "3001:3001"
    healthcheck:
      test: ["CMD-SHELL", "curl api:3000/_health | grep 'ok.*ok.*ok' "]
      interval: 1m30s
      retries: 5
      start_period: 10s
      timeout: 10s
    depends_on:
      ssas:
        condition: service_healthy
      db:
        condition: service_healthy
      localstack:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./bcda
          ignore: ["!**/*.go"]
        - action: rebuild
          path: .
          ignore: ["!go.mod", "!go.sum", "!tools.go"]
    stop_grace_period: 1s
  worker:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.bcdaworker
      args:
        ENVIRONMENT: development
    env_file:
      - ./shared_files/decrypted/local.env
    environment:
      # localstack
      AWS_ACCESS_KEY_ID: foobar
      AWS_SECRET_ACCESS_KEY: foobar
      AWS_ENDPOINT_URL: http://localstack:4566
      CONFIG_BUCKET: bcda-local-config
      # config files
      BCDA_API_CONFIG_PATH: /etc/sv/worker/env/api.yml
      BB_CLIENT_CERT_FILE: /etc/sv/worker/env/bfd-dev-test-cert.pem
      BB_CLIENT_KEY_FILE: /etc/sv/worker/env/bfd-dev-test-key.pem
      # mounted fhir volume
      FHIR_ARCHIVE_DIR: /var/efs/archive
      FHIR_PAYLOAD_DIR: /var/efs/data
      FHIR_STAGING_DIR: /var/efs/tmpdata
      FHIR_TEMP_DIR: /home/bcda/FHIR_TEMP_DIR
      LOG_TO_STD_OUT: true
    volumes:
      - fhir:/var/efs
      - worker_config:/etc/sv/worker/env
      - fhir_temp:/home/bcda/FHIR_TEMP_DIR
    healthcheck:
      test: ["CMD", "pgrep", "-n", "bcdaworker"]
      interval: 1m30s
      retries: 5
      start_period: 10s
      timeout: 10s
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./bcdaworker
          ignore: ["!**/*.go"]
        - action: rebuild
          path: .
          ignore: ["!go.mod", "!go.sum", "!tools.go"]
    stop_grace_period: 1s
  ssas:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.ssas
    environment:
      - DATABASE_URL=postgresql://postgres:toor@db:5432/bcda?sslmode=disable
      - DEPLOYMENT_TARGET=local
      - JWT_PUBLIC_KEY_FILE=/var/local/public.pem
      - JWT_PRIVATE_KEY_FILE=/var/local/private.pem
      - DEBUG=true
      - HTTP_ONLY=true
      - BCDA_SSAS_CLIENT_ID=${BCDA_SSAS_CLIENT_ID}
      - BCDA_SSAS_SECRET=${BCDA_SSAS_SECRET}
      - SSAS_ADMIN_SIGNING_KEY_PATH=../shared_files/ssas/admin_test_signing_key.pem
      - SSAS_PUBLIC_SIGNING_KEY_PATH=../shared_files/ssas/public_test_signing_key.pem
      - SSAS_ADMIN_PORT=:3004
      - SSAS_PUBLIC_PORT=:3003
      - SSAS_HTTP_TO_HTTPS_PORT=:3005
      - SSAS_READ_TIMEOUT=10
      - SSAS_WRITE_TIMEOUT=20
      - SSAS_IDLE_TIMEOUT=120
      - SSAS_HASH_ITERATIONS=130000
      - SSAS_HASH_KEY_LENGTH=64
      - SSAS_HASH_SALT_SIZE=32
      - SSAS_DEFAULT_SYSTEM_SCOPE=bcda-api
      - SSAS_MFA_CHALLENGE_REQUEST_MILLISECONDS=0
      - SSAS_MFA_TOKEN_TIMEOUT_MINUTES=60
      - SSAS_MFA_PROVIDER=${SSAS_MFA_PROVIDER}
      - SSAS_TOKEN_BLACKLIST_CACHE_CLEANUP_MINUTES=15
      - SSAS_TOKEN_BLACKLIST_CACHE_TIMEOUT_MINUTES=1440
      - SSAS_TOKEN_BLACKLIST_CACHE_REFRESH_MINUTES=5
    volumes:
      - .:/go/src/github.com/CMSgov/bcda-app
    ports:
      - "3003:3003"
      - "3004:3004"
      - "3005:3005"
    healthcheck:
      test: ["CMD-SHELL", "curl ssas:3003/_health | grep 'ok' "]
      interval: 1m30s
      retries: 5
      start_period: 2s
      timeout: 10s
    depends_on:
      db:
        condition: service_healthy

volumes:
  fhir:
  api_config:
  worker_config:
  fhir_temp:

networks:
  default:
    name: bcda-app-net
