<!-- Header -->
<header id="site-top">
  <!-- Desktop Navigation -->
  <div class="ds-c-desktop-nav">
    <!-- Logo Link Container -->
    <a class="logo-link-container" href="/">
      <!-- Arrow Icon
      <svg fill="none" height="35" viewBox="0 0 35 35" width="35" xmlns="http://www.w3.org/2000/svg"><circle cx="17.5" cy="17.5" r="17" stroke="#323a45"/><circle cx="17.5" cy="17.5" fill="#323a45" r="15.1667"/><path d="m11.5 18.5h-1.5v6h14.5v-6h-1.5v4h-11.5z" fill="#f7f7f7"/><path d="m17.5 19-5-5h3.5v-7h3.5v7h3z" fill="#f7f7f7"/><g stroke="#f7f7f7"><path d="m11.5 18.5h-1.5v6h14.5v-6h-1.5v4h-11.5z"/><path d="m17.5 19-5-5h3.5v-7h3.5v7h3z"/></g></svg>
      -->
      <!-- Logo Text -->
      <div class="site-title">
        Beneficiary Claims Data API
      </div>
    </a>
    <!-- Desktop navigation -->
    <nav class="desktop-nav-items">
      <!-- removing for now
      <a href="{{ '/api/v1/swagger' }}">Documentation</a>
      -->
      <a href="{{ 'https://groups.google.com/forum/#!forum/bc-api' }}" target="_blank">Join the Google Group</a>
    </nav>
  </div>

  <!-- Mobile Navigation -->
  <div class="ds-c-mobile-nav">
    <!-- Logo Link Container -->
    <a class="logo-link-container" href="/">
      <!-- Arrow Icon -->
      <svg fill="none" height="35" viewBox="0 0 35 35" width="35" xmlns="http://www.w3.org/2000/svg"><circle cx="17.5" cy="17.5" r="17" stroke="#323a45"/><circle cx="17.5" cy="17.5" fill="#323a45" r="15.1667"/><path d="m11.5 18.5h-1.5v6h14.5v-6h-1.5v4h-11.5z" fill="#f7f7f7"/><path d="m17.5 19-5-5h3.5v-7h3.5v7h3z" fill="#f7f7f7"/><g stroke="#f7f7f7"><path d="m11.5 18.5h-1.5v6h14.5v-6h-1.5v4h-11.5z"/><path d="m17.5 19-5-5h3.5v-7h3.5v7h3z"/></g></svg>
      <!-- Logo Text -->
      <div class="site-title">
        Beneficiary Claims Data API
      </div>
    </a>
    <!-- Mobile Nav Trigger Button -->
    <a class="mobile-nav-trigger-button" href="#">
      <span class="mobile-nav-trigger-text">Menu</span>
      <i class="mobile-nav-icon" data-feather="menu"></i>
    </a>
  </div>
  <!-- Mobile Nav Items -->
  <nav class="mobile-nav-items">
    <!-- Items Appended Here by JS -->
  </nav>
</header>
