<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Metadata for Twitter -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
	<meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
	<meta name="twitter:image" content="{{ layout.image | default: '/assets/img/default-share-image.jpg' | absolute_url }}" />
	<meta name="twitter:site" content="{{ page.url }}" />
	<meta name="twitter:card" content="summary_large_image">
	<!-- Facebook / OpenGraph Metadata -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
	<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
	<meta property="og:image" content="{{ layout.image | default: '/assets/img/default-share-image.jpg' | absolute_url }}" />
	<meta property="og:url" content="{{ page.url }}" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="shortcut icon" type="image/x-icon"  href="{{ '/assets/img/favicon.ico' | relative_url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">
  <link href='https://bluebutton.cms.gov/feed.xml' rel='alternate' type='application/atom+xml'>

  <link rel="stylesheet" href="{{ site.cssurl | relative_url }}" />

  <script>
    window.tealiumEnvironment = "{{ site.tealium_env }}";
  </script>

  <script src="//tags.tiqcdn.com/utag/cmsgov/cms-bluebutton/prod/utag.sync.js"></script>
</head>
