name: Build and publish API

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref of bcda-app to checkout (tag, branch name, or full SHA)'
        required: true
        type: string
  workflow_call:
    inputs:
      ref:
        description: 'Ref of bcda-app to checkout (tag, branch name, or full SHA)'
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  ci_checks:
    uses: ./.github/workflows/ci-checks.yml
    with:
      ref: ${{ inputs.ref }}
    secrets: inherit

  build_and_publish:
    needs: [ci_checks]
    runs-on: codebuild-bcda-app-${{github.run_id}}-${{github.run_attempt}}
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Get Workflow Inputs
        run: echo "${{ toJSON(inputs) }}"
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT_ID }}:role/delegatedadmin/developer/bcda-dev-github-actions
      - name: Checkout BCDA
        uses: actions/checkout@v4
        with:
          repository: CMSgov/bcda-app
          ref: ${{ inputs.ref }}
      - name: Set Version
        id: version
        run: |
          TAG=$(git describe --tags --exact-match 2>/dev/null || echo "undefined")
          if [[ "$TAG" != "undefined" ]]; then
            echo "Ref is a tag; setting version to tag name"
            echo "version=$TAG" >> $GITHUB_OUTPUT
          else
            echo "Ref is not a tag; setting version to revision shorthand"
            REV_SHORT=$(git rev-parse --short=8 HEAD)
            echo "version=temp-$REV_SHORT" >> $GITHUB_OUTPUT
            if [[ ${{ env.RELEASE_ENV }} != 'dev' && ${{ env.RELEASE_ENV }} != 'test' ]]; then
              echo "Publishing non-tag versions to prod account is forbidden; exiting process"
              exit 1
            fi
          fi
      - name: Set ECR urls
        run: |
          echo "ECR_NON_PROD_URL=${{ secrets.NON_PROD_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/bcda-api" >> $GITHUB_ENV
          echo "ECR_PROD_URL=${{ secrets.PROD_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/bcda-api" >> $GITHUB_ENV
      - name: Build API
        run: |
          docker build \
            --build-arg RELEASE_VERSION=${{ steps.version.outputs.version }} \
            -t ${{ env.ECR_NON_PROD_URL }}:${{ steps.version.outputs.version }} \
            -t ${{ env.ECR_PROD_URL }}:${{ steps.version.outputs.version }} \
            -f Dockerfiles/Dockerfile.bcda .
      - name: Push to Non Prod ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin '${{ env.ECR_NON_PROD_URL }}'
          docker image push ${{ env.ECR_NON_PROD_URL }}:${{ steps.version.outputs.version }}
      - name: Log into prod in order to push to prod ECR
        uses: aws-actions/configure-aws-credentials@v4
        if: ${{ startsWith(steps.version.outputs.version, 'r') }}
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.PROD_ACCOUNT_ID }}:role/delegatedadmin/developer/bcda-prod-github-actions
      - name: Push to Prod ECR
        if: ${{ startsWith(steps.version.outputs.version, 'r') }}
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin '${{ env.ECR_PROD_URL }}'
          docker image push ${{ env.ECR_PROD_URL }}:${{ steps.version.outputs.version }}
