name: Build and publish API

on:
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision to checkout (e.g. tag or branch name)'
        required: true
        type: string
      env:
        description: 'Environment you want to deploy to (dev, test, sandbox, prod)'
        required: true
        default: dev
        type: choice
        options:
          - dev
          - test
          - sandbox
          - prod
      confirm_env:
        description: 'Confirm the environment you want to deploy to'
        required: true
        default: dev
        type: choice
        options:
          - dev
          - test
          - sandbox
          - prod
  workflow_call:
    inputs:
      revision:
        description: 'Revision to checkout (e.g. tag or branch name)'
        required: true
        type: string
      env:
        description: 'Environment you want to deploy to (dev, test, sandbox, prod)'
        required: true
        type: string
        default: dev
      confirm_env:
        description: 'Confirm the environment you want to deploy to'
        required: true
        type: string
        default: dev
    outputs:
        version:
          description: 'The version of the published docker tag'
          value: ${{ jobs.build_and_publish.outputs.version }}


permissions:
  id-token: write
  contents: read

env:
  RELEASE_ENV: ${{ inputs.env || 'dev' }}
  CONFIRM_RELEASE_ENV: ${{ inputs.confirm_env || 'dev' }}

jobs:
  ci_checks:
    uses: ./.github/workflows/ci-checks.yml
    with:
      revision: ${{ inputs.revision }}
    secrets: inherit

  build_and_publish:
    needs: [ci_checks]
    environment: ${{ inputs.env || 'dev' }}
    runs-on: codebuild-bcda-app-${{github.run_id}}-${{github.run_attempt}}
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Get Workflow Inputs
        run: echo "${{ toJSON(inputs) }}"
      - name: Confirm Env
        if: ${{ env.RELEASE_ENV != env.CONFIRM_RELEASE_ENV }}
        run: |
          echo "Target deployment env ${{ env.RELEASE_ENV }} must match confirmed deployment env ${{ env.CONFIRM_RELEASE_ENV }}."
          exit 1
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/delegatedadmin/developer/${{ vars.AWS_ROLE_TO_ASSUME }}
      - name: Checkout BCDA
        uses: actions/checkout@v4
        with:
          repository: CMSgov/bcda-app
          ref: ${{ inputs.revision }}
      - name: Set Version
        id: version
        run: |
          TAG=$(git describe --tags --exact-match)
          if [[ $? -eq 0 ]]; then
            echo "Revision is a tag; setting version to tag name"
            echo "version=$TAG" >> $GITHUB_OUTPUT
          else
            echo "Revision is not a tag; setting version to revision shorthand"
            REV_SHORT=$(git rev-parse --short=8 HEAD)
            echo "version=$REV_SHORT" >> $GITHUB_OUTPUT
          fi
      - name: Set ECR_URL
        run: echo "ECR_URL=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/bcda-${{ env.RELEASE_ENV }}-api" >> $GITHUB_ENV
      - name: Build BCDA
        # Don't release non-tag versions to prod/sandbox, also makes sure 'latest' in prod aligns with the latest release tag
        if: ${{ env.RELEASE_ENV == 'dev' || env.RELEASE_ENV == 'test' || startsWith(steps.version.outputs.version, 'r') }}
        run: |
          docker build \
            --build-arg RELEASE_VERSION=${{ steps.version.outputs.version }} \
            -t ${{ env.ECR_URL }}:latest \
            -t ${{ env.ECR_URL }}:${{ steps.version.outputs.version }} \
            -f Dockerfiles/Dockerfile.bcda .
      - name: Push to ECR
        if: ${{ env.RELEASE_ENV == 'dev' || env.RELEASE_ENV == 'test' || startsWith(steps.version.outputs.version, 'r') }}
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin '${{ env.ECR_URL }}'
          docker image push ${{ env.ECR_URL }}:${{ steps.version.outputs.version }}
