name: Build and Publish All

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref of bcda-app to checkout (tag, branch name, or full SHA)'
        required: true
        type: string
      ssas_ref:
        description: 'Ref of ssas-app to checkout (tag, branch name, or full SHA)'
        required: true
        type: string
  workflow_call:
    inputs:
      ref:
        description: 'Ref of bcda-app to checkout (tag, branch name, or full SHA)'
        required: true
        type: string
      ssas_ref:
          description: 'Ref of ssas-app to checkout (tag, branch name, or full SHA)'
          required: true
          type: string
    outputs:
      api_version:
        description: 'The version of the published API docker tag'
        value: ${{ jobs.build_and_publish_api.outputs.version }}
      ssas_version:
        description: 'The version of the published SSAS docker tag'
        value: ${{ jobs.build_and_publish_ssas.outputs.version }}


permissions:
  id-token: write
  contents: read

jobs:
  build_and_publish_api:
    uses: ./.github/workflows/build-and-publish-api.yml
    with:
      ref: ${{ inputs.ref }}
    secrets: inherit

  build_and_publish_worker:
    uses: ./.github/workflows/build-and-publish-worker.yml
    with:
      ref: ${{ inputs.ref }}
    secrets: inherit

  build_and_publish_ssas:
    uses: CMSgov/bcda-ssas-app/.github/workflows/build-and-publish.yml@main
    with:
      ref: ${{ inputs.ssas_ref }}
    secrets: inherit
  
  post_build:
    if: ${{ always() }}
    name: Post Build (Cleanup, Alerts)
    needs: [build_and_publish_api, build_and_publish_worker, build_and_publish_ssas]
    runs-on: codebuild-bcda-app-arm64-${{github.run_id}}-${{github.run_attempt}}
    steps:
      - name: Success Alert
        if: ${{ success() && needs.build_and_publish_api.result == 'success' && needs.build_and_publish_worker.result == 'success' && needs.build_and_publish_ssas.result == 'success' }}
        uses: slackapi/slack-github-action@v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          # Sends to bcda-deploy
          payload: |
            channel: "C03S23MJFJS"
            attachments:
              - color: good
                text: "SUCCESS: Build and Publish BCDA/SSAS (run: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.run_id }}>)."
                mrkdown_in:
                  - text
      - name: Failure Alert
        if: ${{ failure() || needs.build_and_publish_api.result != 'success' || needs.build_and_publish_worker.result != 'success' || needs.build_and_publish_ssas.result != 'success' }}
        uses: slackapi/slack-github-action@v2.0.0
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: "C03S23MJFJS"
            attachments:
              - color: danger
                text: "FAILURE: Build and Publish BCDA/SSAS (run: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.run_id }}>)."
                mrkdown_in:
                  - text
                  
