# Build, publish, and deploy any repo revision to dev
# Deploys main to dev daily
name: Deploy revision to dev

on:
  schedule:
    - cron: 0 12 * * 1-5 # every workday at 8am EST
  workflow_dispatch:
    inputs:
      revision:
        description: 'Revision to checkout (e.g. tag or branch name)'
        required: true
        default: main
        type: string
      ssas_revision:
        description: 'Revision of SSAS to checkout (e.g. tag or branch name)'
        required: true
        default: main
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  build_and_publish_all:
    uses: ./.github/workflows/build-and-publish-all.yml
    with:
      revision: ${{ inputs.revision || 'main' }}
      ssas_revision: ${{ inputs.ssas_revision || 'main' }}
      env: dev
      confirm_env: dev
    secrets: inherit
  
  deploy_all:
    needs: [build_and_publish_all]
    uses: ./.github/workflows/deploy-all.yml
    with:
      tag: ${{ needs.build_and_publish_all.outputs.version }}
      ops_tag: ${{ needs.build_and_publish_all.outputs.version }}
      ssas_tag: ${{ needs.build_and_publish_all.outputs.version }}
      env: dev
      confirm_env: dev
      test_aco: dev
    secrets: inherit
