# Build and Deploy BCDA, SSAS, and Worker to dev daily
name: Deploy main to dev daily

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * * 1-5 # every workday at 8am EST

permissions:
  id-token: write
  contents: read

jobs:
  build_and_package_all:
    uses: ./.github/workflows/build-and-package-all.yml
    with:
      release_version: main
      ops_release_version: main
      ssas_release_version: main
    secrets: inherit

  build_and_publish_all:
    uses: ./.github/workflows/build-and-publish-all.yml
    with:
      release_version: main
      ssas_release_version: main
      env: dev
      confirm_env: dev
    secrets: inherit
  
  deploy_all:
    needs: [build_and_package_all, build_and_publish_all]
    uses: ./.github/workflows/deploy-all.yml
    with:
      release_version: main
      ops_release_version: main
      ssas_release_version: main
      env: dev
      confirm_env: dev
      test_aco: dev
    secrets: inherit
